<main class="isolate pb-24">
  <!-- Hero section -->
  <div class="mx-auto max-w-7xl mt-40 px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        Em defesa dos consumidores desde <span class="font-extrabold">2001</span>
      </h1>
      <p class="relative mt-6 text-xl leading-8 text-gray-600 max-w-4xl">
        O IBEDEC trabalha diariamente no atendimento às mais diversas reclamações e dúvidas dos consumidores, orientando−os na luta pelo conhecimento e respeito aos seus direitos.
      </p>
    </div>
  </div>

  <!-- Mission -->
  <div class="mx-auto mt-16 max-w-7xl px-6 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Nossa missão
    </h2>
    <div class="mt-6 flex flex-col gap-y-20 gap-x-8 lg:flex-row">
      <div class="space-y-6 lg:w-full lg:max-w-2xl lg:flex-auto">
        <p class="text-xl leading-8 text-gray-600">
          O IBEDEC tem por objetivo reunir cientistas das áreas econômicas e jurídicas para estudar e orientar a população em geral sobre as relações de consumo e todos os seus desdobramentos, visando difundir os direitos dos consumidores e a forma de defendê-los.
        </p>
        <p class="text-xl leading-8 text-gray-600">
          Tem por objetivo ainda, lutar junto aos três Poderes da República Federativa do Brasil (Legislativo, Executivo e Judiciário) para que os direitos dos consumidores, garantidos pela Constituição Federal, Código Civil, Código de Defesa do Consumidor e Legislação Específica, sejam respeitados.
        </p>
        <p class="text-xl leading-8 text-gray-600">
          Tem por objetivo maior, lutar por um <span class="font-bold text-gray-900">país mais justo</span>.
        </p>
      </div>
      <div class="lg:flex lg:flex-auto lg:justify-center">
        <dl class="space-y-8 xl:w-80">
          <div class="flex items-center flex-col-reverse gap-y-2 lg:items-start">
            <dt class="text-base leading-7 text-gray-600">anos na luta pelos consumidores</dt>
            <dd class="text-5xl font-semibold tracking-tight text-gray-900"><%= years_since_inauguration %></dd>
          </div>
          <div class="flex items-center flex-col-reverse gap-y-2 lg:items-start">
            <dt class="text-base leading-7 text-gray-600">unidades por todo o Brasil</dt>
            <dd class="text-5xl font-semibold tracking-tight text-gray-900">4</dd>
          </div>
          <div class="flex items-center flex-col-reverse gap-y-2 lg:items-start">
            <dt class="text-base leading-7 text-gray-600">consumidores ajudados</dt>
            <dd class="text-5xl font-semibold tracking-tight text-gray-900">10 mil</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <!-- Images -->
  <div class="grid grid-cols-1 gap-8 justify-items-center mx-auto mt-24 max-w-7xl px-6 sm:grid-cols-2 md:grid-cols-3 lg:px-8">
    <%= link_to vite_asset_path('images/about/meeting-1.png'), target: '_blank' do %>
      <%= vite_image_tag 'images/about/meeting-1.png', class: 'h-5/6 object-cover rounded-lg bg-gray-900/5 shadow-lg' %>
    <% end %>
    <%= link_to vite_asset_path('images/about/meeting-2.png'), target: '_blank' do %>
      <%= vite_image_tag 'images/about/meeting-2.png', class: 'h-5/6 object-cover rounded-lg bg-gray-900/5 shadow-lg' %>
    <% end %>
    <%= link_to vite_asset_path('images/about/meeting-3.png'), target: '_blank' do %>
      <%= vite_image_tag 'images/about/meeting-3.png', class: 'h-5/6 object-cover rounded-lg bg-gray-900/5 shadow-lg' %>
    <% end %>
  </div>
</main>
