<div class="pb-16 pt-24 sm:pt-32">
  <div class="mt-10 mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-16 gap-y-8 lg:max-w-none lg:grid-cols-2">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Consumidor
        </h1>
        <h3 class="mt-10 text-xl font-medium tracking-tight text-gray-600 sm:text-3xl">
          Cartilhas e manuais
        </h3>
        <p class="relative mt-4 text-xl leading-8 text-gray-600 max-w-4xl text-justify">
          As cartilhas e manuais abordam diferentes temas, como compras online, direitos do consumidor no transporte aéreo, problemas com planos de saúde, entre outros.
        </p>
        <p class="relative mt-4 text-xl leading-8 text-gray-600 max-w-4xl text-justify">
          Cada material traz informações claras e objetivas, além de dicas práticas para que os consumidores possam evitar problemas e buscar soluções quando necessário.
        </p>
        <p class="relative mt-4 text-xl leading-8 text-gray-600 max-w-4xl text-justify">
          A reprodução parcial ou total é permitida <strong>desde que citada a fonte</strong>.
        </p>
      </div>
      <div>
        <ul role="list" class="space-y-3">
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor', '../cartilhas/Cartilha_do_Consumidor_2_Edicao.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Condômino-Síndico', '../cartilhas/Cartilha_Condomino_Sindico.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor - Edição Especial: Construtoras', '../cartilhas/Cartilha_Construtoras_2015.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor - Edição Especial: Fornecedor', '../cartilhas/Cartilha_do_Consumidor_Edicao_Especial_Fornecedor_1_Edicao.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor - Edição Especial: Idoso', '../cartilhas/Cartilha_Idoso_3a_edicao.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor - Edição Especial: Turismo', '../cartilhas/Cartilha_do_Consumidor_Edicao_Especial_Turismo.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor - Edição Especial: Endividados', '../cartilhas/Cartilha_do_Consumidor_1_Edicao_Endividados.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Cartilha do Consumidor - Edição Especial: Veículos', '../cartilhas/Cartilha_Veiculos_2_Edicao.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
          <li class="overflow-hidden rounded-md border border-gray-50 bg-white px-6 py-4 shadow-md">
            <%= link_to 'Manual Olho Vivo Consumidor', '../manuais/Manual_Olho_Vivo_Consumidor_Goiania.pdf', target: '_blank', class: 'text-ibedec-blue-300 font-semibold hover:text-ibedec-blue-600' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
