<div class="pb-16 pt-24 sm:pt-32">
  <div class="flex min-h-full flex-col justify-center mt-10 px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
        <%= t('.title') %>
      </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white px-4 py-8 shadow sm:rounded-lg sm:px-10">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'space-y-6' }) do |form| %>
          <%= render 'devise/shared/error_messages', resource: resource %>

          <div>
            <%= form.label :first_name, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <%= form.text_field :first_name, autofocus: true, autocomplete: 'given-name', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div>
            <%= form.label :last_name, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <%= form.text_field :last_name, autocomplete: 'family-name', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div>
            <%= form.label :phone_number, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <%= form.phone_field :phone_number, autocomplete: 'tel', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div>
            <%= form.label :email, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <%= form.email_field :email, autocomplete: 'email', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="text-xs text-gray-500 mt-2">
                  <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
                </div>
              <% end %>
            </div>
          </div>

          <div>
            <%= form.label :password, class: 'inline-block text-sm font-medium leading-6 text-gray-900' %>
            <span class="text-xs text-gray-500">
              <%= t('.leave_blank_if_you_don_t_want_to_change_it') %>
            </span>
            <div class="mt-2">
              <%= form.password_field :password, autocomplete: 'new-password', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
              <% if @minimum_password_length %>
                <span class="block text-xs text-gray-500 mt-2">
                  <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
                </span>
              <% end %>
            </div>
          </div>

          <div>
            <%= form.label :password_confirmation, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <%= form.password_field :password_confirmation, autocomplete: 'new-password', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div>
            <%= form.label :current_password, class: 'inline-block text-sm font-medium leading-6 text-gray-900' %>
            <span class="text-xs text-gray-500">
              <%= t('.we_need_your_current_password_to_confirm_your_changes') %>
            </span>
            <div class="mt-2">
              <%= form.password_field :current_password, autocomplete: 'current-password', class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div>
            <%= form.submit t('.update'), class: 'cursor-pointer flex w-full justify-center rounded-md whitespace-normal bg-ibedec-blue-100 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-ibedec-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ibedec-blue-500' %>
          </div>
        <% end %>

        <div class="mt-6">
          <%= render "devise/shared/links" %>
          <%= link_to t('.cancel_my_account'),
                      registration_path(resource_name),
                      class: 'block font-medium text-red-500 hover:text-red-600',
                      data: { confirm: t('.are_you_sure'), turbo_confirm: t('.are_you_sure'), turbo_method: :delete },
                      method: :delete %>
          <%= link_to t('devise.shared.links.back'), :back, class: 'block mt-3 font-medium text-ibedec-blue-200 hover:text-ibedec-blue-600' %>
        </div>
      </div>
    </div>
  </div>
</div>
