<% post_presenter = PostPresenter.new(@post) %>

<% content_for(:head_tags) do %>
  <meta property="og:url" content="<%= post_url(@post.slug) %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:description" content="<%= post_presenter.body_text.truncate(160) %>" />
  <meta property="og:image" content="<%= rails_blob_url(@post.cover_image) %>" />
<% end %>

<div class="pb-16 pt-24 sm:pt-32">
  <div class="mt-10 mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-8 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="order-2 sm:order-1">
        <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            <%= @post.title %>
          </h1>
          <div class="mt-6 max-w-xl tinymce-content text-justify sm:mt-10">
            <%= raw(@post.body) %>
          </div>
        </div>
        <div class="mt-10 flex">
          <%= link_to posts_path, class: 'text-base font-semibold leading-7 text-ibedec-blue-500' do %>
            Leia mais notícias <span aria-hidden="true">&rarr;</span>
          <% end %>
        </div>
      </div>
      <div class="order-1 relative overflow-hidden rounded-3xl bg-gray-900 px-6 pb-9 pt-64 shadow-2xl sm:order-2 sm:px-12 sm:pt-96 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
        <%= image_tag(url_for(@post.cover_image), class: 'absolute inset-0 h-full w-full object-cover') %>
      </div>
    </div>
  </div>
</div>
