<div class="pb-16 pt-24 sm:pt-32">
  <div class="flex min-h-full flex-col justify-center mt-10 px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
        Atualizar decisão
      </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
      <div class="bg-white px-4 py-8 sm:px-10">
        <%= form_with(model: @judgement, url: admin_judgement_path(@judgement), html: { class: 'space-y-6' }) do |form| %>
          <div>
            <%= form.label :title, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <%= form.text_field :title, autofocus: true, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div>
            <%= form.label :published_at, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <%= form.date_field :published_at, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-ibedec-blue-500 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div>
            <%= form.label :file, class: 'block text-sm font-medium leading-6 text-gray-900' %>
            <div class="mt-2">
              <%= form.file_field :file, class: 'block w-full py-1.5 text-gray-900 sm:text-sm sm:leading-6' %>
            </div>
          </div>

          <div>
            <%= form.submit 'Cadastrar', class: 'cursor-pointer flex w-full justify-center rounded-md whitespace-normal bg-ibedec-blue-100 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-ibedec-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ibedec-blue-500' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
