<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="O IBEDEC é uma organização sem fins lucrativos que atua na defesa dos direitos do consumidor no Brasil. O instituto foi fundado em 2001 e tem como objetivo principal promover a educação, a conscientização e a defesa dos consumidores brasileiros, visando a proteção dos seus direitos e interesses.">
    <title>IBEDEC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
    <% if Rails.env.production? %>
      <%= render 'shared/google_tag' %>
    <% end %>
    <% if content_for?(:head_tags) %>
      <%= yield(:head_tags) %>
    <% end %>
  </head>

  <body class="bg-white min-h-screen">
    <%= render 'shared/flash_messages' %>
    <%= render 'application/menu' %>
    <%= yield %>
    <%= render 'application/footer' %>
  </body>
</html>
