<!DOCTYPE html>
<html>
  <head>
    <title>IBEDEC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
    <% if Rails.env.production? %>
      <%= render 'shared/google_tag' %>
    <% end %>
    <% if content_for?(:head_tags) %>
      <%= yield(:head_tags) %>
    <% end %>
  </head>

  <body class="bg-white min-h-screen">
    <%= render 'shared/flash_messages' %>
    <%= render 'application/menu' %>
    <%= yield %>
    <%= render 'application/footer' %>
  </body>
</html>
