<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="O IBEDEC é uma organização sem fins lucrativos que atua na defesa dos direitos do consumidor no Brasil. O instituto foi fundado em 2001 e tem como objetivo principal promover a educação, a conscientização e a defesa dos consumidores brasileiros, visando a proteção dos seus direitos e interesses.">
    <title>IBEDEC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
    <% if Rails.env.production? %>
      <%= render 'shared/google_tag' %>
    <% end %>
    <% if content_for?(:head_tags) %>
      <%= yield(:head_tags) %>
    <% end %>
  </head>

  <body class="bg-white min-h-screen">
    <%= render 'shared/flash_messages' %>
    <%= render 'application/menu' %>
    <%= yield %>
    <%= render 'application/footer' %>
  </body>
</html>
